.stadium-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
  }
  
  .stadium-image {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  
  /* Vùng click */
  .hotspot {
    position: absolute;
    cursor: pointer;
    transition: opacity 0.2s;

  
    &:hover {
      opacity: 0.1;
      background-color: rgb(14, 1, 1);
    }
  }
  
.east-lower  { top: 19%;left: 72%;width: 2.5%; height: 61% }
.west-lower  { top: 19%;left: 25.3%;width: 2.5%;height: 62%; }

.east-middle { top: 13%; right: 19.3%;  width: 5.9%; height: 72%; }
.west-middle { top: 13%;
  left: 19.3%;
  width: 5.9%;
  height: 72% }

.east-vip    { top: 42%; right: 23%; width: 2%; height: 16%;  }
.west-vip    { top: 42%;
      left: 23%;
      width: 2%;
      height: 16%; }

.west-upper  {     top: 24%;
  left: 12%;
  width: 7.2%; height:48%; }
.east-upper  { top: 24%; right: 12%;  width: 7.2%; height: 48%; }

.north-lower { top: 13.5%;
  left: 28%;
  width: 44%;
  height: 5%;; }
.south-lower {   bottom: 14.5%;
  left: 28%;
  width: 44%;
  height: 5.3%;  }

.north-middle {     top: 7%;
  left: 26%;
  width: 48%;
  height: 6%; }
.south-middle {     bottom: 8.5%;
  left: 26%;
  width: 48%;
  height: 6%; }

.north-vip { top: 14.3%;
  left: 47.6%;
  width: 7%;
  height: 4%; }
.south-vip { bottom: 10.4%;
  left: 48%;
  width: 6.8%;
  height: 4%;; }

.north-upper { top: 0%;
  left: 31%;
  width: 38%;
  height: 7%;}
.south-upper { bottom: 1%;
  left: 31%;
  width: 38%;
  height: 7%; }
  