.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;

  img {
    height: 50px;
  }
}

.left {
  flex: 1;
}

.center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 30px;

  a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    &:hover {
      color: #1890ff; // màu chính Ant Design
    }
  }
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  color: #555;
}

.sign-in {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
